@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');
.Container{
    max-width: 1439px;
    width: 100%;
    height: 2554px;
    margin: 0 auto;
    /* margin-top: 80px; */
    position: relative;
    /* border: solid black 2px; */
    
}
.BlackDiv{
    max-width: 450px;
    width: 100%;
    height: 799px;
    background-color: black;
    overflow: hidden;
   
}
h1{
    width: 514px;
    height: 176px;
    color: white;
    font-size: 96px;
    font-weight: 900;
    line-height: 88px;
    font-family: 'Big Shoulders Display';
    font-style: normal;
    margin-top: 189px;
    margin-left: 161px;
   
    

}
.DivForPic{
    width: 540px;
    height: 800px;
    position: absolute;
    left: 450px;
    top: 0px;
    overflow: hidden;
}
h2{
    width: 514px;
    height: 176px;
    color: black;
    font-size: 96px;
    font-weight: 900;
    line-height: 88px;
    font-family: 'Big Shoulders Display';
    font-style: normal;
    margin-top: 189px;
    margin-left: -291px;
    position: absolute;
    
    
 
   
}
.GalleryImg{
    width: 540px;
    height: 800px;
    position: absolute;
}
.HeaderP{
    position: absolute;
    width: 350px;
    height: 150px;
    font-size: 22px;
    font-weight: 300;
    color: #444444;
    font-family: 'Outfit';
    left: 925px;
    top: 190px;
}
.OurLocation{
    width: 204px;
    height: 74px;
    background-color: black;
    position: absolute;
    left: 935px;
    top: 400px;
    color: white;
    font-weight: 800;
    font-size: 20px;
    font-family: 'Big Shoulders Display';
    letter-spacing: 3.63636px;
}
.DivForButton{
    width: 56px;
    height: 74px;
    background-color: #D5966C;
    position: absolute;
    top: 400px;
    left: 1139px;
    padding-left: 24px;
    padding-top: 24px;
}
section{
    position: absolute;
 
    max-width: 1110px;
    width: 100%;
    height: 1150px;
    left: 50%;
    transform: translate(-50%,0);
    margin-top: 180px;
    padding-bottom: 180px;
}
footer{
    max-width: 1440px;
    width: 100%;
    height: 244px;
    background-color: black;
    position: absolute;
    top: 100%;
    transform: translate(0,-100%);
    display: flex;
    justify-content: center;
    align-items: center;


}
.FooterP{
    color: white;
    font-size: 32px;
    font-family: 'Big Shoulders Display';
    width: 159.57px;
    height: 58px;
}
.FooterP2{
    color: white;
    width: 430px;
    height: 84px;
    font-size: 18px;
    font-weight: 300;
    font-family: 'Outfit';
    line-height: 28px;
}
.IconDiv{
    width: 120px;
    height: 20px;
    display: flex;
    justify-content: space-between;
    
}
.FooterDiv{
    max-width: 1110px;
    width: 100%;
    height: 84px;

    display: flex;
    justify-content: space-between;
}
.SmallestDivs{
    width: 20px;
    height: 20px;
    /* background-color: white; */
}
.SmallestDivsFB{
    width: 20px;
    height: 20px;
    background-image: url(./Path\ \(1\).svg);
}
.SmallestDivsFB:hover{
    background-image: url(./FBicon.png);
    cursor: pointer;
}

.FBicon2{
    display: none;
    
}




.UpperDiv{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-between;
    
}
.UpperInsideDiv{
    width: 350px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
}
.Rectangle1{
    width: 635px;
    height: 400px;
}
.DownDiv{
    width: 100%;
    height: 720px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    
}
.Rectangle2{
    width: 635px;
    height: 720px;

}
.DownInsideDiv{
    width: 445px;
    height: 720px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
}
.Rectangle4{
    width: 445px;
    height: 313px;
}
.Rectangle5{
    width: 445px;
    height: 377px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-content: space-around;
    align-items: center;
}
.YourDay{
    width: 350px;
    height: 120px;
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 60px;
    text-transform: uppercase;
}
.nexttoYourDay{
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 32px;
    color: #444444;
}
.NexttoDownDivP{
    font-family: 'Big Shoulders Display';
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 60px;
    color: white;
    width: 350px;
    height: 120px;
}
.NexttoDownDivP2{
    color: white;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 300;
    font-size: 22px;
    line-height: 32px;
    width: 350px;
    height: 96px;
}
.OurLocation:hover{
    background-color: #D5966C;
    cursor: pointer;
}
h3{
    width: 514px;
    height: 176px;
    color: black;
    font-size: 96px;
    font-weight: 900;
    line-height: 88px;
    font-family: 'Big Shoulders Display';
    font-style: normal;
    margin-top: 189px;
    margin-left: -291px;
    position: absolute;
    display: none;

}
@media (max-width:769px){
    .Container{

        height: 2287px;
       
    }
    .BlackDiv{
        display: none;
        


       
    }
    h1{
        display: none;
    }
    .DivForPic{
        width: 437px;
        height: 700px;
        left: 0px;
        overflow: visible;

    }
    .GalleryImg{
        width: 437px;
        height: 700px;
        
    }
    h2{
        width: 339px;
        height: 130px;
        font-size: 70px;
        font-weight: 900;
        line-height: 65px;
        margin-top: 145px;
        margin-left: 389px;

        
    }
    .section{
        padding-bottom: 0px;
        /* margin-top: 120px; */
    }
     
    .Rectangle1{
        width: 398px;
        height: 400px;
    }
    .Rectangle2{
        width: 398px;
        height: 720px;
    
    }
       
    
    .UpperDiv{
      
        justify-content: space-around;
    }
    .DownDiv{
   
        justify-content: space-around;
        margin-left: 17px;
        
    }
    .HeaderP{
        width: 339px;
        height: 112px;
        font-size: 18px;
        left: 389px;
        top: 323px;
        line-height: 28px;
    }
    .OurLocation{
        left: 389px;
        top: 483px;


    }
    .DivForButton{

        top: 483px;
        left: 593px;
  
    }

    section{

       top: 650px;
       
    }
    .UpperInsideDiv{
        width: 230px;

    }
    .YourDay{
        width: 223px;
        height: 135px;
        font-size: 50px;
        line-height: 45px;

    }
    .nexttoYourDay{

        font-size: 18px;
        line-height: 28px;
        width: 223px;
        height: 140px;

 
    }
    .Rectangle2{
        width: 398px;
        height: 720px;
    
    }
    .DownInsideDiv{
        width: 297px;
        margin-right: 21px;
        

    }
    .Rectangle4{
        width: 280px;

    }
    .Rectangle5{
        width: 280px;

    }
    .NexttoDownDivP{
        width: 223px;
        height: 90px;
        font-weight: 900;
        font-size: 50px;
        line-height: 45px;

    }
    .NexttoDownDivP2{

        font-size: 18px;
        line-height: 28px;
        width: 223px;
        height: 112px;
    }
    .FooterDiv{

        justify-content: space-around;
    }
    .FooterP{
        font-size: 18px;
        width: 110px;
        height: 40px;
    }
    .FooterP2{

        width: 281px;
        height: 104px;
        font-size: 16px;
        line-height: 26px;
    }


        
    
}

@media (max-width:376px){

    .DivForPic{
        width: 375px;
        height: 240px;
        overflow: hidden;
    }
    
    .GalleryImg{
        width: 100%;
        height: 550px;
        margin-top: -150px;
        
    }
    h2{
        display: block;

    

        
    }
    h3{
        width: 343px;
        height: 110px;
        color: black;
        font-size: 60px;
        line-height: 55px;
        margin-top: 270px;
        margin-left: 16px;
        display: block;
    
    }

    .HeaderP{
        width: 343px;
        height: 112px;
        font-size: 16px;
        left: 16px;
        top: 414px;
        line-height: 28px;
    }

    .Container{

        height: 2811px;
       
    }
    .OurLocation{
        left: 16px;
        top: 558px;


    }
    .DivForButton{

        top: 558px;
        left: 220px;
  
    }
    .UpperDiv{
        flex-wrap: wrap-reverse;
        
    }
    .Rectangle1{
        width: 343px;
        height: 320px;
    }
    .YourDay{
        width: 250px;
        height: 90px;
        font-size: 50px;
        line-height: 45px;
        margin-left: 16px;

    }
    .UpperInsideDiv{
        width: 100%;
        height: 300px;

    }
    section{

        top: 750px;
        
     }
     .nexttoYourDay{

        font-size: 18px;
        line-height: 28px;
        width: 343px;
        height: 112px;
        margin-left: 16px;

 
    }
    .DownDiv{

        position: absolute;
        justify-content: space-around;
        margin-left: 0px;
        flex-wrap: wrap;
        top: 370px;
        height: 900px;
        
    }
    .Rectangle2{
        width: 343px;
        height: 480px;
    
    }
    .Rectangle4{
        width: 343px;
        height: 200px;
        margin-top: 16px;
        margin-left: 16px;

    }

    .DownInsideDiv{
        width: 100%;
        margin-right: 0px;
        height: 610px;
        
    }

    .Rectangle5{
        width: 343px;
        margin-left: 16px;
        align-items: baseline;

    }

    .NexttoDownDivP2{

        font-size: 18px;
        line-height: 28px;
        width: 295px;
        height: 84px;
        margin-left: 24px;
    }
    footer{

        height: 336px;
        align-items: start;
    
    
    }
    .FooterDiv{

        height: 100%;
    
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        margin-left: 32px;
    }


}

